@import "tailwindcss";

@font-face {
    font-family: "shabnam";
    src: url("/src/assets/Fonts/Shabnam-FD-WOL.ttf") format("woff");
}

*{
    font-family: "shabnam";
}

a{
    text-decoration: none !important;
}
